body {
    font-size: 1.2rem;
    font-family: "MathPazo", "Palatino Linotype", "Palatino", Palatino;
    line-height: 1.4;
    color: #000000; 
    background-color: #ffffff;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

h1{
    font-size: clamp(2.4rem, 8vw, 3.4rem);
    color: #000000;
    text-align:left;
    margin: 4rem 0 1.5rem 0;
    padding-bottom: 12px;
    margin-bottom: 0.6em;
}

h2,h3{
    font-size: clamp(1.4rem, 4vw, 1.8rem);
    color: #000000;
    text-align:left;
    margin: 4rem 0 1.5rem 0;
    padding-bottom: 6px;
    margin-bottom: 0.4rem;
}

h6{
    font-size: clamp(0.2rem, 1vw, 0.4rem);
    color: #000000;
    text-align:center;
    margin: 4rem 0 1.5rem 0;
    padding-bottom: 6px;
    margin-bottom: 0.4rem;
}
  
p{
    font-size: clamp(1rem, 3vw, 1.2rem);
    margin-bottom: 1.6rem;
    text-align: left;
}
    
a {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

.MathJax {
    color: #000000 !important;
}


