body {
    font-family: "Palatino", "MathPazo";
    line-height: 1.7;
    color: #FAFAFA; 
    background-color: #1A1A1D;
    max-width: 850px;
    margin: 60px auto;
    padding: 0 30px;
}

h1, h2, h3  .centeredtext {
    color: #FAFAFA;
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
    margin-top: 50px;
    font-weight: normal;
    text-align: center;
    
a {
    color: #0000FF;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #0000FF;
    text-decoration: none;
}

pre, code {
    font-family: "Courier New", monospace;
    background-color: #1A1A1D;
    color: #FAFAFA;
    padding: 5px;
    border-radius: 4px;
}
.MathJax {
    color: #FAFAFA !important;
}
