body {
    font-size: 18pt;
    font-family: "MathPazo";
    line-height: 1.7;
    color: #FAFAFA; 
    background-color: #000000;
    max-width: 850px;
    margin: 60px auto;
    padding: 0 30px;
    text-align: center;
}

h1 {
    font-size: 48pt; 
    margin-bottom: 20px;

h2 {
    font-size: 24pt;
    color: #FAFAFA;
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
    margin-top: 50px;
    font-weight: normal;
    text-align: center;
    
p {
    font-size: 18pt; 
    line-height: 1.6; 
    margin: 25px auto;
    max-width: 640px;  
}
    
a {
    color: #305cde;
    text-decoration: none;
}

a:hover {
    color: #305cde;
    text-decoration: none;
}

pre, code {
    font-family: "MathPazo";
    background-color: #000000;
    color: #FAFAFA;
    padding: 5px;
    border-radius: 4px;
}
.MathJax {
    color: #FAFAFA !important;
}
